.locations {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map_container {
    display: grid;
    grid-template-rows: 20% 55% 25%;
    grid-template-areas:
    "a a a"
    "b b b"
    "c d e";
    padding: 50px;
    margin: 0 10%;
}

.address_container {
    grid-area: a;
}

.address_container > h3 {
    /* grid-area: c; */
    text-align: center;
}

.address {
    margin: 10% 0;
}

.day {
    position: relative;
    margin: 10px;
}
.time {
    position: relative;
    margin: 10px;

}

.day > ul {
    grid-area: c;
    display: flex;
    flex-direction: column;
    /* padding-left: 30%; */
    color: #a9846a;
    font-weight: 300;
    font-size: 20px;
    gap: 5px;
}

.time > ul {
    grid-area: d;
    display: flex;
    flex-direction: column;
    /* padding-left: 40%; */
    text-align: right;
    color: #a9846a;
    font-weight: 300;
    font-size: 20px;
    gap: 5px;
}

.contact_location {
    grid-area: e;
    margin: 30px;

}

.contact_location > ul {
    grid-area: e;
    display: flex;
    flex-direction: column;
    /* padding-left: 40%; */
    color: #a9846a;
    font-weight: 300;
    font-size: 20px;
    gap: 5px;
}

.map{
    grid-area: b;
    /* position: relative;
    padding: 30%; 
    margin-bottom: 10px; */
    /* height: 0; */
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}

.map > iframe{
    /* position: absolute; */
    /* object-fit: contain; */
    /* top: 0;
    left: 0;
    max-width: 600px;
    max-height: 450px; */
    width: 100% !important;
    height: 450 !important;
}