.locations {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map_container {
    display: grid;
    grid-template-rows: 15% 60% 25%;
    grid-template-areas:
    "a a a"
    "b b b"
    "c d e";
    padding: 0 50px;
    margin: 0 5%;
}

.address_container {
    grid-area: a;
    /* margin-left: 30px; */
}

.address_container > h3 {
    text-align: center;
}

.address {
    /* margin: 10% 0; */
}

.day {
    position: relative;
    margin-top: 20px;
}
.time {
    position: relative;
    margin-top: 20px;
}

.day > ul {
    grid-area: c;
    display: flex;
    flex-direction: column;
    color: #a9846a;
    font-weight: 300;
    font-size: 10px;
    gap: 5px;
}

.time > ul {
    grid-area: d;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #a9846a;
    font-weight: 300;
    font-size: 10px;
    gap: 5px;
}

.contact_location {
    grid-area: e;
    margin: 20px;
}

.contact_location > ul {
    grid-area: e;
    display: flex;
    flex-direction: column;
    color: #a9846a;
    font-weight: 300;
    font-size: 10px;
    gap: 5px;
}

.map{
    grid-area: b;
    display: flex;
    justify-content: center;
}

.map > iframe{
    max-height: 400px;
    max-width: 600px;
    width: 100% !important;
    height: 450px !important;
    margin-bottom: 50px;
}

.contact_form_container {
    display: flex;
    justify-content: center;
}

.overall_form {
    margin: 0 20%;
    padding: 20px 40px;
    margin-bottom: 50px;
    max-width: 650px;
    max-height: 785px;
    background-color: #a9846a;
    border-radius: 25px;
}

.wpforms-container.contact_form {
    margin: 0 auto !important;
    max-width: 500px !important;
    width: 500px !important;
}
 
.contact_form .wpforms-submit-container  {
    display: inline-block;
    text-align: center;
    width: 100% !important;
}
 
.contact_form .wpforms-field-pagebreak  {
    display: inline-block;
    text-align: center;
    width: 100% !important;   
}
 
.contact_form .wpforms-pagebreak-left .wpforms-page-button:before,.wpf-center .wpforms-pagebreak-left .wpforms-page-button:after {
    content: none;
} 

.submit_button {
    background-color: #412920 !important;
}

.wpforms-field-label, 
.wpforms-container .wpforms-form label {
    color: #FAF0E6 !important;
}