.map_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "a b";
}

.location{
    grid-area: a;
    display: grid;
    grid-template-rows: 20% 50% 30%;
    /* add extra grid area to align lists */
    grid-template-areas: 
    "c c"
    "d e"
    "f f";
}

.location > h2 {
    grid-area: c;
    align-self: center;
}

.day > ul {
    grid-area: d;
    display: flex;
    flex-direction: column;
    padding-left: 75%;
    color: #a9846a;
    font-weight: 300;
    font-size: 20px;
    gap: 5px;
}

.time > ul {
    grid-area: e;
    display: flex;
    flex-direction: column;
    /* padding-left: 40%; */
    color: #a9846a;
    font-weight: 300;
    font-size: 20px;
    gap: 5px;
}

.map{
    grid-area: b;
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}

.map > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.contact_form_container {
    display: flex;
    justify-content: center;
}

.overall_form {
    margin: 0 20%;
    padding: 20px 40px;
    max-width: 650px;
    max-height: 785px;
    background-color: #a9846a;
    border-radius: 25px;
}

.wpforms-container.contact_form {
    margin: 0 auto !important;
    max-width: 500px !important;
    width: 500px !important;
}
 
.contact_form .wpforms-submit-container  {
    display: inline-block;
    text-align: center;
    width: 100% !important;
}
 
.contact_form .wpforms-field-pagebreak  {
    display: inline-block;
    text-align: center;
    width: 100% !important;   
}
 
.contact_form .wpforms-pagebreak-left .wpforms-page-button:before,.wpf-center .wpforms-pagebreak-left .wpforms-page-button:after {
    content: none;
} 

.submit_button {
    background-color: #412920 !important;
}

.wpforms-field-label, 
.wpforms-container .wpforms-form label {
color: #FAF0E6 !important;
}