.footer_top {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a b";
}

.footer_top_left {
    grid-area: a;
    margin: 10px;
    place-self: center;
}

.footer_top_left > img {
    display: flex;
    place-self: center;
}

.footer_top_right {
    display: grid;
    grid-area: b;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "b c d e f"
    "b c d e g";
}

.footer_nav {
    grid-area: b;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer_nav_list > a{
    display: inline-block;
    color: black;
}

.footer_nav_list > a:hover {
    color: #B98663;
    text-decoration: underline;
}

.footer_nav_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.location_london {
    grid-area: c;
    margin: 10px;
}

.location_dubai {
    grid-area: d;
    margin: 10px;
}

.contact_section{
    grid-area: e;
    margin: 10px;
}

.contact {
    display: inline-block;
    color: black;
}

.social_media{
    grid-area: f;
    margin: 10px;
}

.footer_headers {
    display: flex;
    justify-self:first baseline;
}

.social_media_icons {
    grid-area: g;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}

.footer_bottom {
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0px;
    background-color: #412920;
}

.footer_bottom > p {
    margin: 0;
}