.footer_top {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas: "a b c";
}

.footer_top_left {
    grid-area: a;
}

.footer_top_left > img {
    display: flex;
    place-self: center;
}

.footer_nav {
    grid-area: b;
    display: flex;
    justify-items: left;
}

.footer_top_right {
    display: grid;
    grid-area: c;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    "c d e f"
    "c d e g";
}

.footer_nav_list > li {
    display: list-item;
}
/* .footer-nav_list {
    display: grid;
    grid-template-columns: 1fr;
}

.footer-nav_list > li {
    display: grid;
    grid-template-columns: 1fr;
} */

.location_london {
    grid-area: c;
    margin: 10px;
    display: flex;
    place-self: center;
}

.location_dubai {
    grid-area: d;
    margin: 10px;
    display: flex;
    place-self: center;
}

.contact_section{
    grid-area: e;
    margin: 10px;
}

.social_media{
    grid-area: f;

}

.footer_headers {
    /* grid-area: title; */
    display: flex;
    justify-self:first baseline;
}

.social_media_icons {
    grid-area: g;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_bottom {
    text-align: center;
    color: #FFFFFF;
    padding: 5px 0px;
    background-color: #412920;

    /* background: linear-gradient( #F6DFE1 0%, #EBBEC4 8%, #C48983 30%, #B76E78 50%, transparent 80%),
    linear-gradient(#B76E78 50%, #C48983 70%, #EBBEC4 100%, #F6DFE1 100%, transparent 10%); */
}
