.main_display {
  display: flex;
  flex-direction: column;
}

.main_display > p {
  font-size: 23px;
}

.hero_image {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  min-height: 100%;
}

.announcement_bar {
  min-height: 18px;
  color: #ffffff;
  margin: 0px;
  padding: 8px 50px;
  background-color: #412920;
  font-weight: lighter;
}

.container {
  width: 100%;
  margin: 10px auto;
}

.carousel {
  height: 100%;
  position: relative;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls > .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow.left {
  left: 10%;
}

.arrow.right {
  right: 10%;
}

.instagram {
  padding-top: 25px;
}