.main_display {
  display: flex;
  flex-direction: column;
}

.main_display > p {
  font-size: 23px;
}

.hero_image {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  min-height: 100%;
}

.announcement_bar, .announcement_bar_top {
  min-height: 18px;
  color: #ffffff;
  margin: 0px;
  padding: 8px 50px;
  background-color: #412920;
  font-weight: lighter;
}
@media (max-width: 992px) {
  .announcement_bar_top{
    display: none;
  }
  .announcement_bar{
    font-size: 20px !important;
  }
}
.container {
  width: 100%;
  margin: 10px auto;
}

.carousel {
  height: 100%;
  position: relative;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls > .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow.left {
  left: 10%;
}

.arrow.right {
  right: 10%;
}

.instagram {
  padding-top: 25px;
}

#sb_instagram .sbi_type_video .sbi_playbtn, #sb_instagram .sbi_type_carousel .sbi_playbtn, .sbi_type_carousel .fa-clone, #sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play, #sb_instagram .sbi_type_video .svg-inline--fa.fa-play {
  z-index: 0;
}