body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.black_text {
  color: #0e1111;
}

.black_background {
  background-color: #0e1111;
}

.cocoa_text {
  color: #412920;
}

.cocoa_background {
  background-color: #412920;
}

.cafeaulait_text {
  color: #a9846a;
}

.cafeaulait_background {
  background-color: #a9846a;
}

.taupe_text {
  color: #b98663;
}

.taupe_background {
  background-color: #b98663;
}

.beige_text {
  color: #faf0e6;
}

.beige_background {
  background-color: #faf0e6;
}

.center {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Stint Ultra Expanded', cursive;
}

@font-face { 
  font-family: 'Montserrat'; 
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Montserrat/static/Montserrat-Regular.ttf'), url('Montserrat-Regular.ttf') format('tff');
}