.black_text{
    color: #0E1111
}

.black_background{
    background-color: #0E1111;
}

.cocoa_text{
    color: #412920;
}

.cocoa_background{
    background-color: #412920;
}

.cafeaulait_text{
    color: #A9846A;
}

.cafeaulait_background{
    background-color: #A9846A;
}

.taupe_text{
    color: #B98663;
}

.taupe_background{
    background-color: #B98663;
}

.beige_text{
    color: #FAF0E6;
}

.beige_background{
    background-color: #FAF0E6;
}