header {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "a b";
}

.center {
  text-align: center;
}

.header_logo {
  grid-area: a;
  max-height: 119px;
  max-width: 200px;
}

.header_logo > img {
  padding-top: 10px;
  height: 84px;
  width: 150px;
}

nav {
  grid-area: b;
  font-size: 60px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: #c48983;
  font-size: 17px;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  color: #85453c;
  text-decoration: underline;
}

.announcement_bar {
  /* background-color: #B76E79; */
  color: #FFFFFF;
  padding: 5px 0px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #F6DFE1 0%, #EBBEC4 8%, #C48983 30%, #B76E78 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #F6DFE1 8%, #EBBEC4 25%, #A85F6A 62.5%, #874650 100%);
}