.service_category_summary > p{
    margin: 0px 50px;
    text-align: justify;
}

.service_section{
    margin: 0px 50px;  
}

.single_service {
    display: flex;
    flex-direction: row;
}

.description_right{
    
}

.img_left{

}

.description_left{

}

.img_right{

}

.static_hero_image > img {
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 300px;
}