.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product {
    text-align: center;
    padding: 50px;
    border: 1px;
}

.woof_list {
    display: flex;
    flex-direction: column;
}

.shop_area {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a b";
    margin: 0px 50px;

}

.filters_for_shop {
    grid-area: a;
}

.shop_products_results {
    grid-area: b;
}

@media (max-width: 992px) {
    .shop_area{
        display: flex;
        flex-direction: column;
    }

 .products{
    grid-template-columns: 1fr !important;
   }
}

.woocommerce-result-count{
    display: flex;
    justify-content: end;
}

.woocommerce-ordering {
    display: flex;
    justify-content: end;
}