.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.product {
    text-align: center;
    padding: 20px 0;
    border: 1px;
    border-style: solid;
    border-color: #412920;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #412920 15%, #ffff 0%, #ffff 100%, #ffff 100%);

}

.price, .woocommerce-LoopProduct-link {
    margin-bottom: 20px;
}

.add_to_cart_button {
    color: white;
    background-color: #412920;
    padding: 10px;
}

.woof_list {
    display: flex;
    flex-direction: column;
}

.shop_area {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a b";
    margin: 0px 50px;

}

.filters_for_shop {
    margin-top: 130px;
    margin-right: 5%;
    grid-area: a;
}

.shop_products_results {
    grid-area: b;
}

@media (max-width: 992px) {
    .shop_area{
        display: flex;
        flex-direction: column;
    }

 .products{
    grid-template-columns: 1fr !important;
   }

   .filters_for_shop {
    margin-top: 50px;
   }
}

.woocommerce-result-count{
    display: flex;
    justify-content: end;
}

.woocommerce-ordering {
    display: flex;
    justify-content: end;
}

.page-title{
    display: none;
}

.woof_products_top_panel_ul{
    display: none;
}

.woof_reset_search_form {
    background-color: #412920 !important;
    color: white !important;
    font-weight: 600 !important;
    font-stretch: ultra-condensed !important;
    border-radius: 15px !important;
    border-width: 0 !important;
    display: inline-block !important;
    font-size: 15px !important;
    letter-spacing: 0.1em !important;
    padding: 8px 50px !important;
    text-transform: uppercase !important;
    transition: background-color 1s !important;
}

.woof_reset_search_form:hover{
    background-color: #A9846A !important;
}

.woof_reset_search_form:focus,
.woof_reset_search_form:active {
  background-color: #412920 !important;
  transition: none !important;
}

.woof_container_inner_productcategories{
    font-family: 'Pontano Sans', sans-serif;
    color: #412920;
}

.woocommerce-message{
    padding-top: 50px;
}

.product_meta{
    display: none;
}