.team_section{
    margin: 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.single_member {
    height: 350px;
    position: relative;
    margin: 10px;
    display: grid;
    place-content: center;
}

.single_member:hover > .member_description {
    transition: opacity 0.3s ease, transform 0.3s ease; 
    display: none;
}

.single_member:hover > .hide_team_member {
    opacity: 1;
    transform: translate(-50%, -40%); 
}

.member_description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    opacity: 1;
    text-align: center;
}

.hide_team_member{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    transition: opacity 0.2s ease, transform 0.8s ease; 
    z-index: 0;
    opacity: 0;
    text-align: center;
}

.single_member:hover > .member_image {
    opacity: 40%;
}

.member_description > h3 {
    margin: 0px;
}

.hide_team_member > h3 {
    margin: 0px;
}

.member_image > img {
    border-radius: 25px;
    border-width: 10px;
    border-style: solid;
    border-color: #412920;
}

.founder_image > img {
    border-radius: 5%;
}