.lash_academy_button{
    background-image: url(/assets/RoseGoldLogo.JPG);
}
.course_section {
    display: flex;
}
.course_component{
    display: flex;
    padding: 5px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: center;
    color: white;
    border-radius: 10px;
}